<% title (t "views.appreciations.show.title", :appreciation_uuid => @appreciation.uuid) %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to (t "layouts.breadcrumbs.appreciations"), :admin_appreciations %></li>
    <li class="breadcrumb-item active"><%= @appreciation.uuid %></li>
  </ol>
</nav>

<dl class="row">
  <dt class="col-sm-2 text-right"><%= t "activerecord.attributes.appreciation.uuid" %></dt><dd class="col-sm-10"><%= @appreciation.uuid %></dd>
  <dt class="col-sm-2 text-right"><%= t "activerecord.attributes.appreciation.message" %></dt><dd class="col-sm-10"><%= @appreciation.message %></dd>
  <dt class="col-sm-2 text-right"><%= t "activerecord.attributes.appreciation.by.name" %></dt><dd class="col-sm-10"><%= @appreciation.by.name %></dd>
  <dt class="col-sm-2 text-right"><%= t "activerecord.attributes.appreciation.by.to" %></dt><dd class="col-sm-10"><%= @appreciation.to.map(&:name).join(", ") %></dd>
</dl>

<div class="controls text-right">
  <p>
    <%= link_to (t "views.appreciations.show.edit_button"), edit_admin_appreciation_path(@appreciation), :class => "btn btn-primary" %>
    <%= link_to (t "views.appreciations.show.delete_button"), [:admin, @appreciation], :data => { :confirm => (t "views.appreciations.show.delete_confirmation") }, :method => :delete, :class => "btn btn-danger" %>
  </p>
</div>
