<% title t("views.admin_sessions.new.title") %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="active"><%= t("layouts.breadcrumbs.login_admin") %></li>
  </ol>
</nav>

<div class="signup-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal">Login</h1>
  <p class="fs-5 text-muted">Login into your Admin account</p>
</div>

<div class="row justify-content-md-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <%= form_for [:admin, @admin_session] do |f| %>
          <%= render "/shared/form_errors", :object => f.object %>
          <legend><%= "Use your credentials" %></legend>
          <hr>

          <div class="mb-3">
            <%= f.label :email, class: "form-label" %>
            <%= f.text_field :email, :class => "form-control", :type => "email", :placeholder => t("activerecord.attributes.admin_user.email"), ariaDescribedby: "emailHelp", required: true %>
            <div id="emailHelp" class="form-text">Introduce your email.</div>
          </div>

          <div class="mb-3">
            <%= f.label :password, class: "form-label" %>
            <%= f.text_field :password, :class => "form-control", :type => "password", :placeholder => t("activerecord.attributes.admin_user.password"), ariaDescribedby: "passwordHelp", required: true %>
            <div id="passwordHelp" class="form-text">Introduce your password. <%= link_to "Forgot password?", admin_forgot_password_path %></div>
          </div>

          <div class="mb-3 form-check">
            <%= f.check_box :remember_me, class: "form-check-input" %>
            <%= f.label :remember_me, class: "form-check-label" %>
          </div>

          <%= f.submit "Sign in", :class => "btn btn-primary" %>

          <div class="row mt-4 mb-3">
            <div class="col">
              <hr>
            </div>
            <div class="col-auto mt-1 text-center">
              <span class="text-muted">or</span>
            </div>
            <div class="col">
              <hr>
            </div>
          </div>

          <div class="d-grid gap-2">
            <%= link_to "/auth/google_oauth2?from=admin", class: "btn bsb-btn-xl btn-outline-primary", method: "post" do %>
              <i class="bi bi-google"></i>
              <span class="ms-2 fs-6">sign in with Google</span>
            <% end %>

            <%= link_to "javascript:alert('Just an example. Not implemented')", class: "btn bsb-btn-xl btn-outline-primary" do %>
              <i class="bi bi-discord"></i>
              <span class="ms-2 fs-6">sign in with Discord</span>
            <% end %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
