<% title t("views.articles.edit.title", :article_uuid => @article.uuid) %>

<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to t("layouts.breadcrumbs.articles"), :admin_articles %></li>
  <li class="breadcrumb-item"><%= link_to @article.uuid, [:admin, @article] %></li>
  <li class="breadcrumb-item active"><%= t "layouts.breadcrumbs.edit" %></li>
</ol>

<p class="lead">
  <%= t "views.articles.edit.text" %>
</p>

<%= render "form" %>
