<%= form_for [:front, @post] do |f| %>
  <%= render "/shared/form_errors", :object => f.object %>
  <fieldset>
    <legend><%= "Post attributes" %></legend>
    <hr>

    <div class="row mb-3">
      <%= f.label :title, class: "col-sm-2 col-form-label text-end"%>
      <div class="col-sm-10">
        <%= f.text_field :title, class: "form-control", placeholder: t("activerecord.attributes.post.title") %>
        <div class="form-text">Give a title to your post.</div>
      </div>
    </div>

    <div class="row mb-3">
      <%= f.label :body, class: "col-sm-2 col-form-label text-end"%>
      <div class="col-sm-10">
        <%= f.text_area :body, class: "form-control", rows: 20, placeholder: t("activerecord.attributes.post.body") %>
        <div id="emailHelp" class="form-text">What do you want to say?</div>
      </div>
    </div>

    <div class="row mb-3">
      <%= f.label :tag_list, class: "col-sm-2 col-form-label text-end"%>
      <div class="col-sm-10">
        <%= f.text_field :tag_list, class: "form-control", value: @post.tag_list.join(", "), placeholder: t("activerecord.attributes.post.tag_list") %>
        <div class="form-text">You can give it some tags like <code>love, work, family</code>.</div>
      </div>
    </div>

    <div class="row">
      <div class="offset-sm-2 col">
        <%= f.submit class: "btn btn-primary" %>
      </div>
  </fieldset>
<% end %>
