<ul class="nav nav-tabs mb-2">
  <li class="nav-item">
    <%= link_to "Info", [:admin, @front_user], class: "nav-link #{"active" if active == "show"}" %>
  </li>
  <li class="nav-item <%= "active" if active == "posts" %>">
    <%= link_to "Posts", posts_admin_front_user_path(@front_user), class: "nav-link #{"active" if active == "posts"}" %>
  </li>

  <li class="nav-item position-relative <%= "active" if active == "posts" %>">
    <%= link_to log_book_events_admin_front_user_path(@front_user), class: "nav-link #{"active" if active == "log_book_events"}" do %>
      Log Book
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
        <%= @front_user.log_book_events.count %>
        <span class="visually-hidden">LogBook events</span>
      </span>
    <% end %>
  </li>
</ul>
