<% title t("views.front_users.index.title") %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="active"><%= t "layouts.breadcrumbs.front_users" %></li>
  </ol>
</nav>

<p><%= link_to "New FrontUser", new_admin_front_user_path, :class => "btn btn-outline-primary" %></p>

<table class="table table-striped table-hover">
  <tr>
    <th><%= t "activerecord.attributes.front_user.uuid" %></th>
    <th><%= t "activerecord.attributes.front_user.name" %></th>
    <th><%= t "activerecord.attributes.front_user.email" %></th>
    <th><%= t "activerecord.attributes.front_user.created_at" %> At</th>
  </tr>

  <% @front_users.each do |front_user| %>
    <tr>
      <td><%= link_to front_user.uuid, [:admin, front_user] %></td>
      <td><%= link_to front_user.name, [:admin, front_user] %></td>
      <td><%= front_user.email %></td>
      <td><%= front_user.created_at.to_fs(:datetimedb) %></td>
    </tr>
  <% end %>
</table>
