<%= form_for [:admin, @user_notifications_config] do |f| %>
  <%= render "/shared/form_errors", :object => f.object %>

  <legend><%= "user_notifications attributes" %></legend>
  <hr>

  <%= f.check_box("active_notifications", {:multiple => true}, "one", "") %>
  <%= f.check_box("active_notifications", {:multiple => true}, "two", "") %>
  <%= f.label(:active_notifications, "ActiveNotifications") %>

  <div class="form-group row">
    <div class="offset-sm-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
