<% title t("views.front_sessions.forgot_password.title") %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="active"><%= t("layouts.breadcrumbs.front_sessions") %></li>
  </ol>
</nav>

<div class="signup-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal">Reset Password</h1>
  <p class="fs-5 text-muted">Provide your email address to receive the password reset link</p>
</div>

<div class="row justify-content-md-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <%= form_for [:front, @front_session], :url => front_forgot_password_path do |f| %>
          <%= render "/shared/form_errors", :object => f.object %>

          <legend>Reset password</legend>
          <hr>

          <div class="mb-3">
            <%= f.label :email, class: "form-label" %>
            <%= f.text_field :email, :class => "form-control", :type => "email", :placeholder => t("activerecord.attributes.front_user.email"), ariaDescribedby: "emailHelp", required: true %>
            <div id="emailHelp" class="form-text">Introduce your email.</div>
          </div>

          <%= f.submit "Request Reset Password", :class => "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
