<% title (t "views.front_sessions.new.title") %>

<ol class="breadcrumb push_down">
  <li class="active"><%= (t "layouts.breadcrumbs.login_front") %></li>
</ol>

<%= form_for [:front, @front_session] do |f| %>
  <%= render "/shared/form_errors", :object => f.object %>
  <fieldset>
    <legend><%= "Use your credentials" %></legend>
    <hr>
    <div class="mb-3">
      <%= f.label :email, class: "form-label" %>
      <%= f.text_field :email, :class => "form-control", :type => "email", :placeholder => t("activerecord.attributes.front_user.email"), ariaDescribedby: "emailHelp" %>
      <div id="emailHelp" class="form-text">Introduce your email.</div>
    </div>
    <div class="mb-3">
      <%= f.label :password, class: "form-label" %>
      <%= f.text_field :password, :class => "form-control", :type => "password", :placeholder => t("activerecord.attributes.front_user.password"), ariaDescribedby: "passwordHelp" %>
      <div id="passwordHelp" class="form-text">Introduce your password.</div>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Remember me</label>
    </div>
    <%= f.submit "Sign in", :class => "btn btn-primary" %>
  </fieldset>
<% end %>

<p><%= link_to "Forgot password", front_forgot_password_path %></p>
<p>You don't have an account yet? <%= link_to "Sign up", "To Register page" %></p>
