<% title (t "views.appreciations.show.title", :appreciation_uuid => @appreciation.uuid) %>

<div class="row justify-content-md-center">
  <div class="col-md-6">
    <div class="card appreciation <%= appreciation_custom_style(@appreciation) %>">
      <% if @appreciation.pic.attached? %>
        <div class="card-img-top text-center">
          <%= image_tag @appreciation.pic, class: "" %>
        </div>
      <% end %>
      <div class="card-body">

        <p class="static">
          <span>
            <span class="font-weight-bold"><%= @appreciation.by.name %></span>
            wants to appreciate to
          </span>
        </p>
        <h5 class="card-title by"><%= @appreciation.to_formatted %></h5>
        <p class="static"><span>because</span></p>
        <div class="card-text message"><%= render_markdown(@appreciation.message) %></div>
      </div>
    </div>

    <% if @appreciation.by == current_appreciable_user %>
      <div class="controls text-right">
        <p>
          <%= link_to (t "views.appreciations.show.edit_button"), edit_front_appreciation_path(@appreciation), :class => "btn btn-primary" %>
          <%= link_to (t "views.appreciations.show.delete_button"), [:front, @appreciation], :data => { :confirm => (t "views.appreciations.show.delete_confirmation") }, :method => :delete, :class => "btn btn-danger" %>
        </p>
      </div>
    <% end %>
  </div>
</div>

