<% title t("views.front_users.new.title") %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to t("layouts.breadcrumbs.front_users"), :front_front_users %></li>
    <li class="breadcrumb-item active"><%= t("layouts.breadcrumbs.new") %></li>
  </ol>
</nav>

<div class="signup-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal">Sign up</h1>
  <p class="fs-5 text-muted">Register and start bloging.</p>
</div>

<%= render "form" %>

<div class="row mt-4 mb-3">
  <div class="col">
    <hr>
  </div>
  <div class="col-auto mt-1 text-center">
    <span class="text-muted">or</span>
  </div>
  <div class="col">
    <hr>
  </div>
</div>

<div class="d-grid gap-2">
  <%= link_to "/auth/google_oauth2?from=front&sign_up=1", class: "btn bsb-btn-xl btn-outline-primary", method: "post" do %>
    <i class="bi bi-google"></i>
    <span class="ms-2 fs-6">sign up with Google</span>
  <% end %>

  <%= link_to "javascript:alert('Just an example. Not implemented')", class: "btn bsb-btn-xl btn-outline-primary" do %>
    <i class="bi bi-discord"></i>
    <span class="ms-2 fs-6">sign up with Discord</span>
  <% end %>
</div>

<style>
.signup-header {
    max-width: 700px;
}
</style>
