<% title t("views.front_users.reset_password.title") %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active"><%= t("layouts.breadcrumbs.reset_password") %></li>
  </ol>
</nav>

<div class="signup-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal">Reset Password</h1>
  <p class="fs-5 text-muted">Set a new password for your account</p>
</div>

<div class="row justify-content-md-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <%= form_for [:front, @front_user], :url => front_reset_password_path do |f| %>
          <%= render "/shared/form_errors", :object => f.object %>

          <legend>Reset password</legend>
          <hr>

          <div class="mb-3">
            <%= f.label :password, class: "form-label" %>
            <%= f.text_field :password, :class => "form-control", :type => "password", :placeholder => t("activerecord.attributes.admin_user.password"), ariaDescribedby: "passwordHelp", required: true %>
            <div id="passwordHelp" class="form-text">Introduce your new password.</div>
          </div>

          <div class="mb-3">
            <%= f.label :password_confirmation, class: "form-label" %>
            <%= f.text_field :password_confirmation, :class => "form-control", :type => "password", :placeholder => t("activerecord.attributes.admin_user.password"), ariaDescribedby: "passwordConfirmationHelp", required: true %>
            <div id="passwordHelp" class="form-text">Confirm your new password.</div>
          </div>

          <%= f.submit "Reset Password", :class => "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
