<%= form_for [:admin, @admin_user] do |f| %>
  <%= render "/shared/form_errors", :object => f.object %>
  <fieldset>
    <legend><%= "AdminUser attributes" %></legend>
    <hr>

    <div class="row mb-3">
      <%= f.label :name, class: "col-sm-2 col-form-label text-end"%>
      <div class="col-sm-10">
        <%= f.text_field :name, class: "form-control", placeholder: t("activerecord.attributes.admin_user.name") %>
        <div class="form-text">Give a name to your admin_user.</div>
      </div>
    </div>

    <div class="row mb-3">
      <%= f.label :email, class: "col-sm-2 col-form-label text-end"%>
      <div class="col-sm-10">
        <%= f.text_field :email, class: "form-control", placeholder: t("activerecord.attributes.admin_user.email") %>
        <div class="form-text">Give a email to your admin_user.</div>
      </div>
    </div>

    <div class="row mb-3">
      <%= f.label :password, class: "col-sm-2 col-form-label text-end"%>
      <div class="col-sm-10">
        <%= f.password_field :password, class: "form-control", placeholder: t("activerecord.attributes.admin_user.password") %>
        <div class="form-text">Give a password to your admin_user.</div>
      </div>
    </div>

    <div class="row mb-3">
      <%= f.label :password_confirmation, class: "col-sm-2 col-form-label text-end"%>
      <div class="col-sm-10">
        <%= f.password_field :password_confirmation, class: "form-control", placeholder: t("activerecord.attributes.admin_user.password_confirmation") %>
        <div class="form-text">Confirm the password.</div>
      </div>
    </div>

    <div class="row">
      <div class="offset-sm-2 col">
        <%= f.submit class: "btn btn-primary" %>
      </div>
  </fieldset>
<% end %>
