<% title t("views.admin_users.reset_password.title") %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active"><%= t("layouts.breadcrumbs.reset_password") %></li>
  </ol>
</nav>

<p class="lead">
  <%= t "views.admin_users.reset_password.text" %>
</p>

<%= form_for [:admin, @admin_user], :url => admin_reset_password_path do |f| %>
  <%= render "/shared/form_errors", :object => f.object %>
  <fieldset>
    <legend><%= "Fill the form with your new desired password" %></legend>
    <hr>
    <div class="form-group row">
      <%= f.label :password, :class => "col-sm-2 col-form-label text-right" %>

      <div class="col-sm-10">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend2">
              <i class="fas fa-lock"></i>
            </span>
          </div>
          <%= f.text_field :password, :class => "form-control", :type => "password", :placeholder => t("activerecord.attributes.admin_user.password") %>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :password_confirmation, :class => "col-sm-2 col-form-label text-right" %>

      <div class="col-sm-10">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend2">
              <i class="fas fa-lock"></i>
            </span>
          </div>
          <%= f.text_field :password_confirmation, :class => "form-control", :type => "password", :placeholder => t("activerecord.attributes.admin_user.password") %>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <%= f.submit "User this new password", :class => "btn btn-primary" %>
      </div>
    </div>
  </fieldset>
<% end %>
