<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
    <%= image_tag "shared/images/logo.png", width:"40", height:"40", class:"bi me-2" %>
    <span class="fs-4">RailsSkeleton</span>
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item"><%= link_to t("layouts.menu.home"), :root, class: "nav-link" %></li>
    <li class="nav-item"><%= link_to t("layouts.menu.posts"), :front_posts, class: "nav-link" %></li>
    <li class="nav-item"><%= link_to t("layouts.menu.features"), front_page_path(id: "features"), class: "nav-link" %></li>
    <li class="nav-item"><%= link_to t("layouts.menu.pricing"), front_page_path(id: "pricing"), class: "nav-link" %></li>
    <li class="nav-item"><%= link_to t("layouts.menu.login"), :front_login, class: "nav-link" %></li>
    <li class="nav-item"><%= link_to t("layouts.menu.signup"), :new_front_front_session, class: "nav-link" %></li>
  </ul>
</header>
