<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
    <%= image_tag "logo.png", width:"40", height:"40", class:"bi me-2" %>
    <span class="fs-4">RailsSkeleton</span>
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item"><%= link_to t("layouts.menu.articles"), :front_articles, class: "nav-link" %></li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><%= current_front_user.name %></a>
      <ul class="dropdown-menu">
        <li class="nav-item"><%= link_to t("layouts.menu.profile"), [:front, current_front_user], class: "nav-link" %></li>
        <li class="nav-item"><%= link_to t("layouts.menu.logout"), front_logout_path, class: "nav-link" %></li>
      </ul>
    </li>
  </ul>
</header>
