<!doctype html>
<html lang="en">
  <head>
    <%= render "layouts/front/header" %>
  </head>

  <body>
    <% if !Rails.env.production? %>
      <div class="environment_badge"><%= Rails.env %></div>
    <% end %>

    <div class="container-xl">
      <% if @current_front_user %>
        <%= render "layouts/front/menu" %>
      <% else %>
        <%= render "layouts/front/menu_basic" %>
      <% end %>

      <div id="content">
        <% flash.each do |type, message| %>
          <%= content_tag :div, BlueCloth.new(message).to_html.html_safe, :id => "flash_#{type}", :class => bootstrap_alert_class(type.to_sym) %>
        <% end %>

        <%= yield %>
      </div>
    </div>

    <%= render "layouts/front/footer" %>
  </body>
</html>
